<%= simple_form_for(@hack, html: {class: "form-signin"}) do |f| %>  
  <% if @hack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hack.errors.count, "error") %> prohibited this hack from being saved:</h2>

      <ul>
      <% @hack.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :title, label: false, required: true, autofocus: true, input_html: {class: "form-control"}, placeholder: "Title" %>

    <%= f.input :content, label: false, required: true, input_html: {class: "form-control"}, placeholder: "Content" %>

    <%= f.input :category,  required: true, collection: ["Acquisition", "Activation", "Retention", "Referral", "Revenue"] %>

    <p class="text-center">Want to give someone credit for this hack? (This is optional)</p>

    <%= f.input :credit_twitter_handle, label: false, required: false, input_html: {class: "form-control"}, placeholder: "Source's Twitter Handle" %>

    <%= f.input :credit_website, label: false, required: false, input_html: {class: "form-control"}, placeholder: "Website" %>

    <%= f.button :submit, class: "btn btn-lg btn-success btn-block" %>
<% end %>
