<div class="panel panel-default" id="inner"> 
    <h1 class="text-center"><%= @hack.title %></h1>
    <div class="panel-body">
      <p><%= @hack.content %></p>

      <p><strong>Credit twitter handle:</strong><a class="twitter-follow-button" data-show-count="false" data-size="large"
    href="https://twitter.com/<%= @hack.credit_twitter_handle %>">
  Follow @<%= @hack.credit_twitter_handle %></a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </p>

      <p><strong>Credit website:</strong><%= @hack.credit_website %></p>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-md-1 text-left"><%= render 'categorylabels' %></div>
        <div class="col-md-8 col-md-offset-1 text-center">Placeholder</div>
        <div class="col-md-2 text-right"><%= time_ago_in_words(@hack.created_at) %> old</div>
      </div>
    </div>  
</div>
<div class="text-center" id="outer">
<%= link_to 'Edit', edit_hack_path(@hack) %> |
<%= link_to 'Back', hacks_path %>
</div>